.card {
  background-color: white;
  width: 300px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  padding: 15px;
}
.card > img {
  border-radius: 9px;
}
.vertical {
  display: flex;
  align-items: center;
  color: rgb(78, 76, 76);
}
.icons {
  height: 18px;
}
.vertical > p {
  margin-left: 7px;
}
/* Container */
.Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
